@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --CorPreto: #000;
  --CorVermelho: rgb(255, 0, 0);
  --CorBranco: rgb(255, 255, 255);

  --FontP: 'Poppins', sans-serif;
}