.fundo-5g{
    background: url(/src/assets/img/fundo_landingPage1.png) no-repeat;
    background-size: contain;
    height: 60vh;
    width: 100%;
    /* background-position: center; */
}
.fundo-landing-page{
    display: flex;
    font-family: var(--FontP);
    height: 50vh;
    padding: 3rem;
    width: 100%;
}
.fundo-5g-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    margin-left: 3rem;
    margin-top: 10rem;
    width: 90%;
}
#texto-5g{
    margin-bottom: 3rem;
}
.titulo-5g{
    margin-bottom: 1rem;
}

.button-saiba-mais {
    margin-top: 2rem;
    appearance: button;
    width: max-content;
    width: 50%;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #991318;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-saiba-mais:after {
  background-clip: padding-box;
  background-color: #e12229;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-saiba-mais:main,
.button-saiba-mais:focus {
  user-select: auto;
}

.button-saiba-mais:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-saiba-mais:disabled {
  cursor: auto;
}