
.Navbar_ServicesClaud-div{
    position: fixed;
    background-color: var(--CorBranco);
    width: 100%;
    height: 78px;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 1%;
    transition: all linear .3s;
}
.Navbar_ServicesClaud-compacto{
    position: fixed;
    background-color: var(--CorBranco);
    width: 100%;
    height: 78px;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0;
}
.Navbar_ServicesClaud-items{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.Navbar_ServicesClaud-items{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
}

.Navbar_ServicesClaud-bnt{
    font-family: var(--FontP);
    display: flex;
    list-style: none;
    width: 467px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.Navbar_ServicesClaud-bnt-compacto{
    display: none;
}
.Navbar_ServicesClaud-bnt a{
    color: var(--CorPreto);
    text-decoration: none;
}
#Logo-huawei-services{
    width: 73px;
}
.Navbar_ServicesClaud-span-compacto{
    display: none;
}
.Navbar_ServicesClaud-span{
    display: inline;
    font-family: var(--FontP);
    display: flex;
    list-style: none;
    width: 627px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
